table.tablesorter thead tr .header {
  background-image: url(bg_gray.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
  background-image: url(asc_black.gif);
}

table.tablesorter.Modac_Standard thead tr .headerSortUp {
  background-image: url(asc_white.gif);
}

table.tablesorter thead tr .headerSortDown {
  background-image: url(desc_black.gif);
}

table.tablesorter.Modac_Standard thead tr .headerSortDown {
  background-image: url(desc_white.gif);
}
